<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (locals.meta && meta.title) { %>
      <title><%= meta.title %></title>
    <% } else { %>
      <title>Disrupt Coffee</title>
    <% } %>
    <% if (locals.meta && meta.description) { %>
      <meta name="description" content="<%= meta.description %>"/>
    <% } %>
    <meta name="author" content="Prismic">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="/bundles/main.css" rel="stylesheet">
    <script>
      window.prismic = {
        endpoint: '<%= prismicEndpoint %>'
      };
    </script>
    <script src="https://static.cdn.prismic.io/prismic.min.js"></script>
  </head>
  <body>

    <% if (layoutContent.site_name && layoutContent.header_nav_items.length > 0) { %>
      <header class="header" id="header">
        <div class="header-inner">
          <a class="header-name" href="/">
            <%= layoutContent.site_name %>
          </a>
          <nav class="header-nav">
            <% layoutContent.header_nav_items.forEach(function (item) { %>
              <a class="header-nav-link" href="<%= linkAsUrl(item.link) %>">
                <%= item.text %>
              </a>
            <% }); %>
          </nav>
          <div class="header-burger" id="header-burger">
            <img class="header-burger-img header-burger-img--closed" src="/img/burger-closed.svg" alt="Mobile menu toggle - closed state"/>
            <img class="header-burger-img header-burger-img--opened" src="/img/burger-opened.svg" alt="Mobile menu toggle - opened state"/>
          </div>
        </div>
      </header>
    <% } %>

    <main>
