<%-
include('partials/header', {
  meta: {
    title: richTextAsPlain(document.data.meta_title),
    description: richTextAsPlain(document.data.meta_description),
    social: document.data.social,
    canonicalUrl: getCanonicalUrl(document)
  }
});
%>

<div class="l-wrapper">
  <hr class="separator-hr"/>
</div>

<article class="blog-post-article">
  <div class="blog-post-inner">
    <% if (document.data.image.url) { %>
      <div class="blog-post-image-wrapper">
        <img class="blog-post-image" src="<%= document.data.image.url %>" alt="<%= document.data.image.alt %>"/>
      </div>
    <% } %>
    <div class="blog-post-title">
      <%- richTextAsHtml(document.data.title) %>
    </div>
    <div class="blog-post-slices-wrapper">
      <% document.data.body.forEach(function (slice) { %>
        <% if (slice.slice_type === 'text_block') { %>
          <div class="blog-post-slice-text">
            <%- richTextAsHtml(slice.primary.text) %>
          </div>
        <% } else if (slice.slice_type === 'image') { %>
          <div class="blog-post-slice-img">
            <img src="<%= slice.primary.img.url %>" alt="<%= slice.primary.img.alt %>"/>
          </div>
        <% } else if (slice.slice_type === 'embed') { %>
          <div class="blog-post-slice-embed">
            <%- slice.primary.embed.html %>
          </div>
        <% } %>
      <% }); %>
    </div>
    <% if (document.data.author.data) { %>
      <div class="blog-post-author-wrapper">
        <% if (document.data.author.data.picture) { %>
          <img class="blog-post-author-picture" src="<%= document.data.author.data.picture.url %>" alt="<%= document.data.author.data.picture.alt %>"/>
        <% } %>
        <div>
          <p class="blog-post-author-name">
            <%= richTextAsPlain(document.data.author.data.name) %>
          </p>
          <p class="blog-post-author-bio">
            <%= richTextAsPlain(document.data.author.data.bio) %>
          </p>
        </div>
      </div>
    <% } %>
  </div>
</article>

<div data-wio-id="<%= document.id %>"></div>

<%- include('partials/footer'); %>
