<%- include('partials/header'); %>

<header class="homepage-header">
  <div class="l-wrapper">
    <div class="homepage-header-title">
      <%- richTextAsHtml(document.data.title) %>
    </div>
  </div>
</header>

<section class="homepage-banner" style="background-image: url(<%= document.data.banner_image.url %>)">
  <div class="l-wrapper">
    <div class="homepage-banner-text-box">
      <%- richTextAsHtml(document.data.banner_text) %>
    </div>
  </div>
</section>

<div class="homepage-slices-wrapper">
  <% document.data.body.forEach(function (slice) { %>
    <% if (slice.slice_type === 'featured_items') { %>
      <div class="homepage-slice-wrapper">
        <%- include('partials/slices/featured-items', { slice }); %>
      </div>
    <% } %>
  <% }); %>
</div>

<%- include('partials/footer'); %>
