<%-
include('partials/header', {
  meta: {
    title: richTextAsPlain(document.data.meta_title),
    description: richTextAsPlain(document.data.meta_description),
    social: document.data.social,
    canonicalUrl: getCanonicalUrl(document)
  }
});
%>

<div class="l-wrapper">
  <hr class="separator-hr"/>
</div>

<header class="lp-header">
  <div class="lp-title">
    <%- richTextAsHtml(document.data.title) %>
  </div>
</header>

<div class="lp-slices-wrapper">
  <% document.data.body.forEach(function (slice) { %>
    <% if (slice.slice_type === 'banner_split') { %>
      <div class="lp-slice-wrapper">
        <%- include('partials/slices/banner-split', { slice }); %>
      </div>
    <% } else if (slice.slice_type === 'big_bullet_item') { %>
      <div class="lp-slice-wrapper">
        <%- include('partials/slices/numeroted-items', { slice }); %>
      </div>
    <% } else if (slice.slice_type === 'product_quote') { %>
      <div class="lp-slice-wrapper">
        <%- include('partials/slices/product-quote', { slice }); %>
      </div>
    <% } %>
  <% }); %>
</div>

<div data-wio-id="<%= document.id %>"></div>

<%- include('partials/footer'); %>
