<%-
include('partials/header', {
  meta: {
    title: richTextAsPlain(document.data.meta_title),
    description: richTextAsPlain(document.data.meta_description),
    social: document.data.social,
    canonicalUrl: getCanonicalUrl(document)
  }
});
%>

<div class="l-wrapper">
  <hr class="separator-hr"/>
</div>

<div class="product-sections-wrapper">

  <section>
    <div class="l-wrapper">
      <div class="product-hero-inner">
        <img
          class="product-hero-image"
          src="<%= document.data.product_image.url %>"
          alt="<%= document.data.product_image.alt %>"
        />
        <div class="product-hero-content">
          <h1 class="product-hero-title">
            <% const product = document.data.product %>
            <%= product ? product.title : 'Unknown' %>
          </h1>
          <h2 class="product-hero-subtitle">
            <%= product ? product.country : 'Unknown' %>
          </h2>
          <ul class="product-hero-list">
            <li>
              <%= product ? product.price : 'Unknown' %> per <%= product ? product.weight : 'Unknown' %>
            </li>
            <li>
              Taste &amp; Notes: <%= product ? product.taste : 'Unknown' %>
            </li>
            <li>
              Origin: <%= product ? product.origin : 'Unknown' %>
            </li>
            <li>
              Varietal: <%= product ? product.varietal : 'Unknown' %>
            </li>
            <li>
              Process: <%= product ? product.process : 'Unknown' %>
            </li>
          </ul>
          <h2 class="product-hero-subtitle">Shipping</h2>
          <p class="product-hero-paragraph">
            <%= product ? product.shipping : 'Unknown' %>
          </p>
          <div class="product-hero-button-wrapper">
            <button
              class="a-button a-button--filled"
              onclick="alert('We\'re integrating the GraphQL API at the moment, so coffee delivery is temporarily unavailable.');">
              <%= richTextAsPlain(document.data.button_label) %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="product-description">
    <div class="l-wrapper">
      <div class="product-description-title">
        <%- richTextAsHtml(document.data.title) %>
      </div>
      <div class="product-description-content">
        <%- richTextAsHtml(document.data.product_description) %>
      </div>
    </div>
  </section>

  <div class="product-separator-wrapper">
    <div class="l-wrapper">
      <hr class="separator-hr"/>
    </div>
  </div>

  <section>
    <div class="l-wrapper">
      <header class="products-grid-header">
        <div class="products-grid-header-title">
          <%- richTextAsHtml(document.data.related_products_title) %>
        </div>
      </header>
    </div>
    <div class="products-grid-items-wrapper">
      <% document.data.related_products.forEach(function (item) { %>
        <% if (item.product1.data) { %>
          <a class="products-grid-item-wrapper" href="<%= linkAsUrl(item.product1) %>">
            <img
              class="products-grid-item-image"
              src="<%= item.product1.data.product_image.url %>"
              alt="<%= item.product1.data.product_image.alt %>"
            />
            <p class="products-grid-item-title">
              <% const linkedProduct = item.product1.data.product %>
              <%= linkedProduct ? linkedProduct.title : '' %>
            </p>
            <p class="products-grid-item-country">
              <%= linkedProduct ? linkedProduct.country : '' %>
            </p>
          </a>
        <% } %>
      <% }); %>
    </div>
  </section>

</div><!-- /.product-wrapper -->

<div data-wio-id="<%= document.id %>"></div>

<%- include('partials/footer'); %>
