<section>
  <div class="l-wrapper">
    <header class="products-grid-header">
      <div class="products-grid-header-title">
        <%- richTextAsHtml(slice.primary.section_title) %>
      </div>
      <a class="products-grid-header-button" href="<%= linkAsUrl(slice.primary.button_link) %>">
        <%= richTextAsPlain(slice.primary.button_label) %>
      </a>
    </header>
  </div>
  <div class="products-grid-items-wrapper">
    <% slice.items.forEach(function (item) { %>
      <div class="products-grid-item-wrapper">
        <img class="products-grid-item-image" src="<%= item.link_to_product.data.product_image.url %>" alt="<%= item.link_to_product.data.product_image.alt %>"/>
        <p class="products-grid-item-name">
          <a href="<%= linkAsUrl(item.link_to_product) %>">
            <%= richTextAsPlain(item.link_to_product.data.product_name) %>
          </a>
        </p>
        <p class="products-grid-item-subtitle"><%= richTextAsPlain(item.link_to_product.data.sub_title) %></p>
      </div>
    <% }); %>
  </div>
</section>
