<section>
  <div class="l-wrapper">
    <header class="featured-items-header">
      <div class="featured-items-header-title">
        <%- richTextAsHtml(slice.primary.section_title) %>
      </div>
      <a class="featured-items-header-button" href="<%= linkAsUrl(slice.primary.button_link) %>">
        <%= richTextAsPlain(slice.primary.button_label) %>
      </a>
    </header>
    <div class="featured-items-products-wrapper">
      <% slice.items.forEach(function (item) { %>
        <div class="featured-items-product-wrapper">
          <img class="featured-items-product-image" src="<%= item.link_to_product.data.product_image.url %>" alt="<%= item.link_to_product.data.product_image.alt %>">
          <p class="featured-items-product-name">
            <a href="<%= linkAsUrl(item.link_to_product) %>">
              <%= richTextAsPlain(item.link_to_product.data.product_name) %>
            </a>
          </p>
          <p class="featured-items-product-subtitle"><%= richTextAsPlain(item.link_to_product.data.sub_title) %></p>
        </div>
      <% }); %>
    </div>
  </div>
</section>
