<section>
  <div class="l-wrapper">
    <header class="products-grid-header">
      <div class="products-grid-header-title">
        <%- richTextAsHtml(slice.primary.section_title) %>
      </div>
      <div class="products-grid-header-button-wrapper">
        <a class="a-button" href="<%= linkAsUrl(slice.primary.button_link) %>">
          <%= richTextAsPlain(slice.primary.button_label) %>
        </a>
      </div>
    </header>
  </div>
  <div class="products-grid-items-wrapper">
    <% slice.items.forEach(function (item) { %>
      <% if (item.link_to_product.data) { %>
        <a class="products-grid-item-wrapper" href="<%= linkAsUrl(item.link_to_product) %>">
          <img
            class="products-grid-item-image"
            src="<%= item.link_to_product.data.product_image.url %>"
            alt="<%= item.link_to_product.data.product_image.alt %>"
          />
          <p class="products-grid-item-title">
            <% const product = item.link_to_product.data.product %>
            <%= product ? product.title : '' %>
          </p>
          <p class="products-grid-item-country">
            <%= product ? product.country : '' %>
          </p>
        </a>
      <% } %>
    <% }); %>
  </div>
</section>
